*{
text-align:center;
}

h1{
color:goldenrod;
padding-top:150px;
font-size:32px;
}

form{
color:white;
font-size:17px;
}

body{
background-image:url("CP.jpg");
background-position:center;
background-repeat: no-repeat;
background-size:cover;
}